@font-face {
    font-family: "DejaVu Sans";
    src: url("/fonts/DejaVuSans.ttf");
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("/fonts/DejaVuSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("/fonts/DejaVuSans-Oblique.ttf");
    font-style: italic;
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("/fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("/fonts/DejaVuSans-Oblique.ttf");
    font-style: oblique;
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("/fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: oblique;
}

html
{
	font-family: "DejaVu Sans";
	max-width: 100%;
	overflow-x: hidden;
}

.navbar
{
	height: 35px;
	padding: 9px;
	padding-left: 5px;

	display: flex;
	flex-direction: row;

	align-items: center;

	background-image: linear-gradient(to left, rgba(140,140,255,0), rgba(140,140,255,.8));
	max-width: 1100px;
}

.navbar-title, .navbar-title:hover, .navbar-title:visited, .navbar-title:active
{
	text-decoration: none; 
	color:black;
}

#sidebar-container
{
	grid-row: 2;
	grid-column: 1;
	background-color: lavender;
	border: 1px solid mediumslateblue;
	border-radius: 5px;
	max-height: 505px;
}

#menu-button
{
	padding-right: 5px;
	padding-left: 5px;
	border: solid 1px rgba(0, 0, 0, 0);
	border-radius: 3px;
}

#menu-button:hover
{
	background-color:slateblue;
	cursor: pointer;
}

.menu-line
{
	width: 20px;
	height: 2px;
	background-color:black;
	margin: 6px 0;
}

.sidebar
{
	display: flex;	
	flex-direction: column;
	flex: 1 1 auto;
}

.sidebar-top
{
	display: flex;
	padding-bottom: 10px;
	align-items: center;
}

.sidebar-header
{
	width:999px;
	padding:5px;
}

.sidebar-list
{
}

.content
{
	grid-row: 2;
	grid-column: 2;
}

.descriptor
{
	grid-row: 2;
	grid-column: 3;
}

#grid-container
{
	height:100%;
	max-width: 100%;

	display: grid;
	grid-gap: 10px;
	grid-template-columns: 200px auto auto;
	grid-template-rows: max-content;
}

.grid-item
{
}

.block
{
	padding-left: 20px;
}

.form-block
{
	margin-top: 10px;
	max-width: 360px;
	padding:10px;
	border: 1px solid black;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	column-gap: 10px;
}

.code-block
{
	margin-top: 10px;
	max-width: 420x;
	padding:10px;
	border: 1px solid black;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	column-gap: 10px;
	overflow-x: auto;
}

.table-form
{
	display: table;
}

label, input
{
	display: table-cell;
	margin-bottom: 5px;
	margin-top: 5px;
}

label
{
	padding-right: 10px;
}

.small-number-input
{
	width: 220px;
}

.packed-check-input
{
	margin-right: 25px;
}

#displaybox
{
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.display-box-row
{
	border: 1px solid lightgrey;
	margin-bottom: -1px;
	padding: 3px;
	font-size: 16px;
}